{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Google fonts links-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">


    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static 'home/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/roboto-webfont.css' %}" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}" />

    <script src="{% static 'home/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>


    <!-- Navbar -->
    <script type="text/javascript" src="{% static 'home/js/nav/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/nav/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/nav/webslidemenu.js' %}"></script>


    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--Main Menu File-->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'home/css/nav/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/nav/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/nav/desktop.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/nav/mobile.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/nav/tab.css' %}" />

    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'home/css/nav/font-awesome.min.css' %}" />

    <!-- theme css -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'home/css/nav/theme.css' %}" />

    <!-- Jumbotron -->
    <link rel="stylesheet" href="{% static 'home/css/hero.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/team.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/biznex.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/default.css' %}">

    <title>TATC Home</title>
</head>