{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/mega-menu.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/hero.css' %}">

    <!--Google fonts links-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">


    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static 'home/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/roboto-webfont.css' %}" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}" />

    <script src="{% static 'home/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

    <title>TATC Home</title>
</head>