{% extends 'home/base.html' %}

{% load static %}

{% block nav %}{% include 'home/nav/navbar.html' %}{% endblock nav %}

{% block hero %}{% include 'home/hero.html' %}{% endblock hero %}

{% block services %}{% include 'home/services.html' %}{% endblock services %}

{% block exports %}{% include 'home/exports.html' %}{% endblock exports %}

{% block imports %}{% include 'home/imports.html' %}{% endblock imports %}

{% block logistics %}{% include 'home/logistics.html' %}{% endblock logistics %}

{% block it-services %}{% include 'home/it-services.html' %}{% endblock it-services %}

{% block team %}{% include 'home/team.html' %}{% endblock team %}

{% block testimonials %}{% include 'home/testimonials.html' %}{% endblock testimonials %}

{% block blog %}{% include 'home/blog.html' %}{% endblock blog %}

{% block partners %}{% include 'home/partners.html' %}{% endblock partners %}

{% block contact %}{% include 'home/contact.html' %}{% endblock contact %}

{% block footer %}{% include 'home/footer.html' %}{% endblock footer%}