{% extends 'home/layout.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

{% block content %}

<section id="showcase">
    <div class="container">
      <h1>Your Ultimate Business Partner</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
    </div>
  </section>

  <section id="newsletter">
    <div class="container">
      <h1>Subscribe To Our Newsletter</h1>
      <form>
        <input type="email" placeholder="Enter Email...">
        <button type="submit" class="button_1">Subscribe</button>
      </form>
    </div>
  </section>

  <section id="boxes">
    <div class="container">
      <div class="box">
        <img src="{% static "home/logo_html.png" %}" alt="HTML5"/>
        <h3>HTML5 Markup</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
      </div>
      <div class="box">
        <img src="{% static "home/logo_css.png" %}" alt="CSS3"/>
        <h3>CSS3 Styling</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
      </div>
      <div class="box">
        <img src="{% static "home/logo_brush.png" %}" alt="Design"/>
        <h3>Graphic Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
      </div>
    </div>
  </section>

{% endblock %}