<!-- OUR SERVICES -->
<section class="services-area bg-white bordered">
	<div class="container">
		<!-- section title -->
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="sectionTitle text-center">
					<h2>IT Services</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
				</div>
			</div>
		</div>
		<!-- section title ends -->
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fab fa-free-code-camp"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Software Development</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fa fa-credit-card"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Internet Marketing</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fab fa-freebsd"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Search Engine Optimization</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fab fa-google-wallet"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Web Hosting</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fas fa-gem"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Business Automation</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="media-box">
					<div class="media-icon">
						<i class="fas fa-cogs"></i>
					</div>
					<div class="media-content">
						<a href="#"><h4>Server Configuration</h4></a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
