
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	    <meta name="keywords" content="web design, affordable web design, professional web design">
        <meta name="author" content="Emmanuel Makonde">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Trans-Atlantic Ventures</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Trans-Atlantic</span> Ventures</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>

        {% block content %}
        
        {% endblock %}
    
    <footer>
        <p align="center">Trans-Atlantic Ventures Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
