
<nav class="wrapper navbar navbar-expand-lg navbar-light fixed-top">

        <a class="navbar-brand" href="#"><strong>Trans-Atlantic </strong></h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-right ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5><strong>Trading </strong></h5>
              </a>
              <div class="dropdown-menu mega-menu wrapper" aria-labelledby="navbarDropdown">
                  <div class="row">
                    <div class="col-md-3">
                      <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                    </div>
                    <div class="col-md-3">
                      <p><strong>Our Imports</strong></p>
                      <ul class="list-group">
                        <li><i class="fas fa-angle-right"></i><a href="#"> Construction Materials</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Pharmacitecals Products</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Medical Equipments</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Petroleum Products</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Equipment &amp; Machinery</a></li>
                      </ul> 
                    </div>
                    <div class="col-md-3">
                      <p><strong>Our Exports</strong></p>
                      <ul class="list-group">
                        <li><i class="fas fa-angle-right"></i><a href="#"> Premium Kenyan Tea</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Meat &amp; Meat Products</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Kenyan Coffee</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Fresh Pineapples</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="#"> Live Animals</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                    </div>
                    <div class="col-md-12  col-lg-12">
                      <button type="button" class="cta-btn btn btn-primary btn-lg btn-block">Learn More <i class="fas fa-angle-right"></i></button>
                    </div>
                  </div> 
              </div>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h5><strong>Logistics </strong></h5>
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                      <div class="col-md-3">
                        <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                      </div>
                      <div class="col-md-3">
                        <p><strong>General Supplies</strong></p>
                        <ul class="list-group">
                          <li><i class="fas fa-angle-right"></i><a href="#"> Constrution Materials</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Equipment &amp; Machinery</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Medical Equipment</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Petroleum Products</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Sugar</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <p><strong>Logistics</strong></p>
                        <ul class="list-group">
                          <li><i class="fas fa-angle-right"></i><a href="#"> Our Tenets</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Our Purpose</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Our Commitment</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Our Scope</a></li>
                          <li><i class="fas fa-angle-right"></i><a href="#"> Key Strategy</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <button type="button" class="cta-btn btn btn-primary btn-lg btn-block">Explore <i class="fas fa-angle-right"></i></button>
                        </div>
                      </div>
                    </div> 
                </div>
              </li>
    
              <li class="nav-item">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h5><strong>IT Products &amp; Services</strong></h5>
                  </a>
                  <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                      <div class="row">
                        <div class="col-md-3">
                          <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                        </div>
                        <div class="col-md-3">
                          <p><strong>Products</strong></p>
                          <ul class="list-group">
                            <li><i class="fas fa-angle-right"></i><a href="#"> PRTG Network Monitor</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="#"> iVend Retail Solution</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="#"> PRTG Network Monitor</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="#"> PRTG Network Monitor</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="#"> PRTG Network Monitor</a></li>
                          </ul> 
                        </div>
                        
                        <div class="col-md-3">
                          <p><strong>Services</strong></p>
                          <ul class="list-group">
                            <li><i class="fas fa-angle-right"></i> Software Development</li>
                            <li><i class="fas fa-angle-right"></i> Network Installation</li>
                            <li><i class="fas fa-angle-right"></i> CCTV &amp; Acces Control</li>
                            <li><i class="fas fa-angle-right"></i> Tech Consultancy</li>
                            <li><i class="fas fa-angle-right"></i> Internet Marketing</li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <!-- <img src="http://lorempixel.com/400/400" alt="flower" class="img-fluid"> -->
                        </div>
                        <div class="col-lg-12">
                          <button type="button" class="cta-btn btn btn-primary btn-lg btn-block">Learn More <i class="fas fa-angle-right"></i></button>
                        </div>
                      </div> 
                  </div>
                </li>
    
          </ul>
        </div>
      </nav>