{% extends 'home/layout.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

{% block content %}

<section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="page-title">Services</h1>
        <ul id="services">
          <li>
            <h3>Import And Export</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
          </li>
          <li>
            <h3>General Supplies And Logistics</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
          </li>
          <li>
            <h3>IT Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
          </li>
        </ul>
      </article>

      <aside id="sidebar">
        <div class="dark">
          <h3>Contact Us</h3>
          <form class="quote">
            <div>
                <label>Name</label><br>
                <input type="text" placeholder="Name">
            </div>
            <div>
                <label>Email</label><br>
                <input type="email" placeholder="Emial Address">
            </div>
            <div>
                <label>Message</label><br>
                <textarea placeholder="Message"></textarea>
            </div>
            <button class="button_1" type="submit">Send</button>
          </form>
        </div>
      </aside>
    </div>
  </section>

{% endblock %}