<!-- {% extends 'home/layout.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

{% block content %}



{% endblock %} -->

<!-- Services Section -->
<section id="service" class="sections">
    <div class="container text-center">
        <div class="heading-content2">

            <h4>Services We provide</h4>

            <p>
                Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu 
                feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent  
            </p>

        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-content">
                    <i class="fa fa-users"></i>
                    <h5>Consultancy</h5>
                    <p>Caritas aritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-content">
                    <i class="fa fa-camera"></i>
                    <h5>Marketing</h5>
                    <p>Caritas aritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="service-content">
                    <i class="fa fa-database"></i>
                    <h5>Research</h5>
                    <p>Caritas aritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
            </div>

        </div>
    </div> <!-- /container -->       
</section>
