 <!-- Services Section -->
 <section id="business" class="portfolio sections tatc-services">
    <div class="container">
        <div class="head_title text-center">
            <h1>What We Do</h1>
            <p>
                Our vision is to become a globally recognized brand in cross-border trading of high demand commodties, provision of cost effective IT services and services as well as general supplies and logistic
            </p>
        </div>

        <!-- Example row of columns -->
        
        <div class="row">
            <div class="portfolio-wrapper2 text-center">
                <a href="#">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="community-edition">
                            <i class="fas fa-briefcase fa-5x"></i>
                            <h4>Commercial Division</h4>
                            <p class="lead">
                                Our commercial division addresses a gap in the marketplace internally and overseas a reliable trading partner able to supply large quantities of quality produce and products expeditiously and at competitive prices
                            </p>
                        </div>
                    </div>
                </a>

            <a href="#">               
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="community-edition">
                        <i class="fas fa-truck fa-5x"></i>
                        <h4>Logistics Division</h4>
                        <p class="lead">
                            We provide general supplies to a wide range of corporate bodies and entities, private sectors, NGOs, parastatals and government ministries, internatonal organizations and other private institutions.
                        </p>
                    </div><!-- ./Community Edition -->
                </div><!-- ./Community Edition -->
            </a>
 

                <a href="#">    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="community-edition">
                            <i class="fas fa-desktop fa-5x"></i>
                            <h4>IT Division</h4>
                            <p class="lead">
                                With a passion for excellence, we provide innovative and affordable solutions of the highest quality in terms of perfomance, scalability and security to clients from diverse sectors of the economy.
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div> <!-- /container -->       
</section>