{% load static %}
<!-- 
######################################################
                    OUR TEAM SECTION
######################################################
-->

<section class="home-team gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="sectionTitle text-center">
                        <h2>Our Team</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
                    </div>
                </div>
            </div>
            <!-- section title ends -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card card-style2 team-card">
                        <div class="card_img">
                            <img class="img-full loaded" data-original="img/home/about/p5.jpg" alt="Card image" src="{% static 'home/images/p5.jpg' %}" data-was-processed="true">
                            <div class="hover-overlay effect-scale">
                                <a href="" class="overlay_icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="" class="overlay_icon"><i class="fab fa-twitter fa-2x"></i></a>
                                <a href="" class="overlay_icon"><i class="fab fa-linkedin fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <a href="#page-member-details.html"><h4 class="card-title">Eng. John Lenga</h4></a>
                            <span class="">C.E.O</span>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-3">
                    <div class="card card-style2 team-card">
                        <div class="card_img">
                            <img class="card-img-top img-full loading" src="{% static 'home/images/p5.jpg' %}" alt="Card image" data-was-processed="true">
                            <div class="hover-overlay effect-scale">
                                <a href="#" class="overlay_icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-twitter fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-linkedin fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <a href="#page-member-details.html"><h4 class="card-title">Raphael Chilumo</h4></a>
                            <span class="">B.D.M</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-3">
                    <div class="card card-style2 team-card">
                        <div class="card_img">
                            <img class="img-full loaded" data-original="img/home/about/p5.jpg" alt="Card image" src="{% static 'home/images/p5.jpg' %}" data-was-processed="true">
                            <div class="hover-overlay effect-scale">
                                <a href="#" class="overlay_icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-twitter fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-linkedin fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Susan Kihato</h4></a>
                            <span class="">HR &amp; Marketing Manager</span>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-3">
                    <div class="card card-style2 team-card">
                        <div class="card_img">
                            <img class="img-full loaded" data-original="img/home/about/p5.jpg" alt="Card image" src="{% static 'home/images/p5.jpg' %}" data-was-processed="true">
                            <div class="hover-overlay effect-scale">
                                <a href="#" class="overlay_icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-twitter fa-2x"></i></a>
                                <a href="#" class="overlay_icon"><i class="fab fa-linkedin fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Magdalene Nyale</h4></a>
                            <span class="">Software Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
 