
{% load static %}

  <div class="wsmenucontainer clearfix">
    <div id="overlapblackbg"></div>
    <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow"><span></span></a> <a class="smallogo"><img src="images/logo.png" width="120" alt="" /></a> <a class="callusicon" href="tel:123456789"><span class="fas fa-phone"></span></a> </div>
    <div class="header">
      <div class="wrapper clearfix bigmegamenu">
        <div class="logo clearfix img-fluid"><a href="index.html" title="Responsive Slide Menus"><img src="{% static 'home/images/logo1.png' %}" alt="" /></a></div>

        <!--Main Menu HTML Code-->

        <nav class="wsmenu clearfix">
          <ul class="mobile-sub wsmenu-list">
            <li><a href="#" class="active"><i class="fas fa-home"></i><span class="hometext">&nbsp;&nbsp;Home</span></a></li>
            

            <li><a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Trading </a>
              <div class="megamenu clearfix">
                <div class="container-fluid">
                  <div class="row">

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <div class="#">
                        <a href="#"><img class="img-fluid" src="" alt="" /></a>
                      </div>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Our Imports</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Equipment &amp; Machinery</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Equipment &amp; Machinery</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Equipment &amp; Machinery</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Equipment &amp; Machinery</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Equipment &amp; Machinery</a></li>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Our Exports</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Agricultural Products</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Agricultural Products</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Agricultural Products</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Agricultural Products</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Agricultural Products</a></li>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <div class="#">
                        <a href="#"><img src="" alt="" /></a>
                      </div>
                    </ul>

                    <ul class="col-lg-12 cta-ul">
                      <a href="#"><li class="col-xs-12 cta-btn">LEARN MORE <i class="fas fa-angle-right"></i></li></a>
                    </ul>

                    
              <li><a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Logistics </a>
              <div class="megamenu clearfix">
                <div class="container-fluid">
                  <div class="row">
                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <div class="fluid-width-video-wrapper">
                        <a href="#">
                          <img class="img-fluid" src="" alt="" />
                        </a>
                      </div>
                    </ul>
                    
                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">General Supplies</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Construction Materials</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Construction Materials</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Construction Materials</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Construction Materials</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Construction Materials</a></li>
                    </ul>               
                    
                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Logistics</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Our Tenets</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Our Purpose</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Our Commitment</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Our Scope</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Key Strategy</a></li>
                    </ul>
                    
                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <div class="fluid-width-video-wrapper">
                        <a href="#"><img src="" alt="" /></a>
                      </div>
                    </ul>
                    
                    <ul class="col-lg-12 col-md-12 col-sm-12 cta-ul">
                      <a href="#"><li class="col-xs-12 cta-btn">LEARN MORE <i class="fas fa-angle-right"></i></li></a>
                    </ul>
 
            

            <li><a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;IT Products &amp; Services </a>
            <div class="megamenu clearfix">
              <div class="container-fluid">
                <div class="row">
                  <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                    <li class="title">Software Products</li> 
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Microsoft Windows</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Microsoft Server</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> iVend Retail Solution</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> PRTG Network Monitor</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Kaspersky Antivirus</a></li>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Hardware Products</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Laptop Computers</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Desktop CPUs</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Desktop Monitors</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Printers</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Server Infrastructure</a></li>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Software Services</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Software Development</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Internet Marketing</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Search Engine Optimization</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Web Hosting</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Business Process Automation</a></li>
                    </ul>

                    <ul class="col-lg-3 col-md-12 col-sm-12 link-list">
                      <li class="title">Hardware Services</li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Server Configuration</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Network Configuration</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> CCTV Installation</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Access Control Installation</a></li>
                      <li><a href="#"><i class="fas fa-arrow-circle-right"></i> Tech Consultancy</a></li>
                    </ul>

                    <ul class="col-lg-12 col-md-12 col-sm-12 cta-ul">
                      <a href="#"><li class="col-xs-12 cta-btn">LEARN MORE <i class="fas fa-angle-right"></i></li></a>
                    </ul>

            <li><a href="#"><i class="far fa-envelope"></i>&nbsp;&nbsp;Contact Us </a>
              <div class="contact-mb megamenu halfdiv clearfix">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <h3 class="title">Contact Us</h3>
                      <form name="contact_name" class="menu_form">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                        <textarea placeholder="Your message..."></textarea>
                        <input type="button" value="Reset">
                        <input type="submit" value="Send">
                      </form>
                    </div>
                  </div>
                </div>
              <div class="cl"></div>
            </div>
          </li>
        </ul>
      </nav>

        <!--End Menu HTML Code-->

  </div>
</div>

</div>
</div>
