{% load static %}

<div class="wrapper">
<nav class="navbar navbar-default">

    <div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    <a class="navbar-brand" href="#">Trans-Atlantic</a>
    
  </div>
	
	<div class="collapse navbar-collapse js-navbar-collapse container">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trading </a>			
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-3">
						<ul>
              <li class="dropdown-header">Our Imports</li>
              <li class="divider"></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Auto Carousel</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Carousel Control</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Right Navigation</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Four Columns Grid</a></li>
            </ul>
          </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Our Imports</li>
                <li class="divider"></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Navbar Inverse</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Pull Right Elements</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Coloured Headers</a></li>                            
                <li><a href="#"><i class="fas fa-angle-right"></i> Buttons &amp; Default</a></li>						
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              <li class="dropdown-header">Our Exports</li>
              <li class="divider"></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Auto Carousel</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Carousel Control</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Right Navigation</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Four Columns Grid</a></li>
							
							
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              <li class="dropdown-header">Our Exports</li>
              <li class="divider"></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Navbar Inverse</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Pull Right Elements</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Coloured Headers</a></li>                            
							<li><a href="#"><i class="fas fa-angle-right"></i> Buttons &amp; Default</a></li>							
						</ul>
          </li>
          
          <a href="#"><li class="col-xs-12 cta-btn">Learn More <i class="fas fa-angle-right"></i></li></a>

				</ul>				
			</li>
            <li class="dropdown mega-dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logistics </a>				
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-3">
    					<ul>
              <li class="dropdown-header">Our Imports</li>
              <li class="divider"></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Auto Carousel</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Carousel Control</a></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Right Navigation</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Four Columns Grid</a></li>
							
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              <li class="dropdown-header">Our Exports</li>
              <li class="divider"></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Navbar Inverse</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Pull Right Elements</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Coloured Headers</a></li>                            
							<li><a href="#"><i class="fas fa-angle-right"></i> Buttons &amp; Default</a></li>							
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              <li class="dropdown-header">Our Merchandise</li>
              <li class="divider"></li>
              <li><a href="#"><i class="fas fa-angle-right"></i> Easy to Customize</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Calls to action</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Custom Fonts</a></li>
							<li><a href="#"><i class="fas fa-angle-right"></i> Slide down on Hover</a></li>                         
						</ul>
					</li>
              <li class="col-sm-3">
    					<ul>
                  <li class="dropdown-header">Plus</li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="fas fa-angle-right"></i> Navbar Inverse</a></li>
                  <li><a href="#"><i class="fas fa-angle-right"></i> Pull Right Elements</a></li>
                  <li><a href="#"><i class="fas fa-angle-right"></i> Coloured Headers</a></li>                            
                  <li><a href="#"><i class="fas fa-angle-right"></i> Buttons &amp; Default</a></li>							
                </ul>
              </li>
              <a href="#"><li class="col-xs-12 cta-btn">Learn More <i class="fas fa-angle-right"></i></li></a>
               
				</ul>				
      </li>

      
      
      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">IT Products & Services </a>				
      <ul class="dropdown-menu mega-dropdown-menu">
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Software</li>
            <li class="divider"></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> iVend Retail Solution</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Network Monitor</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Microsoft Products</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Kaspersky Antivirus</a></li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Hardware</li>
            <li class="divider"></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Laptop Computers</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Desktop Computers</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> CCTV Cameras</a></li>                            
            <li><a href="#"><i class="fas fa-angle-right"></i> Access Control</a></li>							
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Services</li>
            <li class="divider"></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Network Installation</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Software Development</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Digital Marketing</a></li>
            <li><a href="#"><i class="fas fa-angle-right"></i> Web Hosting</a></li>                         
          </ul>
        </li>
          <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Consultancy</li>
                <li class="divider"></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Cloud Computing</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Business Automation</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i> Systems Intergation</a></li>                            
                <li><a href="#"><i class="fas fa-angle-right"></i> Cyber Security</a></li>							
              </ul>
            </li>
            <a href="#"><li class="col-xs-12 cta-btn">Learn More <i class="fas fa-angle-right"></i></li></a>

        </ul>

            <li><a href="#contact">Contact</a></li>
            <li><a href="#">Login</a></li>



      </li>
 
       

    </div><!-- /.nav-collapse -->

</nav>
</div>